<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
</head>
<body>
    <h1>Nuestro CV</h1>
    <p th:text="'Hola, ' + ${name} + ' ! '">Texto por defecto</p>
    <p th:if="${name.length<5}" style="color: red">Error, el nombre tiene menos de tres letras ...</p>


<!--    <p th:text="${persona.firstName}">Texto por defecto</p>-->
<!--    <p th:text="${persona.lastName}">Texto por defecto</p>-->
<!--    <p th:text="${persona.profession}">Texto por defecto</p>-->
</body>
</html>