<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<section id="about" th:fragment="about">
    <h2>¿ QUIÉN SOY ?</h2>
    <p>Soy desarrollador web full-stack especializado en Java. Además, también tengo conocimientos de desarrollo
        front-end con HTML y CSS, teniendo en cuenta las animaciones y la experiencia de usuario.</p>

    <p>La programación es mi pasión; por eso estoy trabajando actualmente mientras continúo con mi formación
        académica.</p>

    <p>Además, en mi tiempo libre me gusta escuchar música y audiolibros narrativos, algo que me resulta divertido y
        relajante.</p>
    <a href="#projects">
        <button>Ver mis proyectos</button>
    </a>

</section>
</body>
</html>