<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
<section id="about" th:fragment="about" class="content-section about-section">
    <div class="about-copy">
        <h2 class="section-title">¿ QUIÉN SOY ?</h2>
        <div class="about-avatar">
            <img src="/img/profile-image-andres.png" alt="Andrés Podadera" class="about-profile-img">
        </div>
        <p>Soy desarrollador web full-stack especializado en Java. Además, también tengo conocimientos de desarrollo
            front-end con HTML y CSS, teniendo en cuenta la eficiencia y la experiencia de usuario.</p>

        <p>La programación es mi pasión, por eso estoy trabajando actualmente mientras continúo con mi formación
            académica.</p>

        <p>Además, en mi tiempo libre me gusta escuchar música y audiolibros narrativos, algo que me resulta divertido y
            relajante.</p>
        <a href="#projects" class="button-link">Ver mis proyectos</a>
    </div>
</section>
</body>
</html>