<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Header</title>
</head>
<body>

<header th:fragment="header" class="site-header">
    <div class="header-container">
        <th:block th:replace="~{fragments/navbar :: navbar}"></th:block>
        <th:block th:replace="~{sections/personal-info-section :: hero}"></th:block>
    </div>
</header>

</body>
</html>