
# PostgreSQL database configuration https://console.neon.tech/
PG_URL_DATABASE=jdbc:postgresql://YOUR_PG_HOST/YOUR_PG_DATABASE?sslmode=require&channelBinding=require
PG_USER=YOUR_PG_USER
PG_PASSWORD=YOUR_PG_PASSWORD