<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error de Validaciones</title>
</head>
<body>

<h1>¡UPS. Algo salió mal!</h1>
<p th:text="${message}"></p>
<ul>
    <!--/*@thymesVar id="errors" type="java.util.List<org.springframework.validation.FieldError>"*/-->
    <!--/*@thymesVar id="defaultMessage" type="java.lang.String"*/-->
    <li th:each="error : ${errors}" th:text="${error.defaultMessage}">Error</li>
</ul>
<a href="/form">Volver al inicio</a>
</body>
</html>