<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proyectos</title>
</head>
<body>
<section id="projects" th:fragment="projects" class="content-section">
    <h2 class="section-title">Mis proyectos</h2>
    <div class="projects-grid">
        <div class="project-card" th:each="project : ${projectsList}">
            <img th:src="@{${project.imageUrl}}" th:alt="|${project.title} Project Image|">
            <div class="project-card-content">
                <h3 th:text="${project.title}"></h3>
                <p th:text="${project.description}"></p>
                <a class="button-link" href="#" th:href="@{${project.projectUrl}}">Ver Proyecto</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>