<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>

<h1>Formulario de Información Personal</h1>

<form
        method="POST"
        th:action="@{/personal-info-save}"
        th:object="${personalInfo}"
>
    <div>
        <label for="nombre">Nombre:
            <input type="text" name="nombre" id="nombre" th:field="*{firstName}">
        </label>
    </div>
    <div>
        <label for="email">Email:
            <input type="email" name="email" id="email" th:field="*{email}">
        </label>
    </div>

    <button type="submit">Guardar</button>
</form>

</body>
</html>